# Enable authentication inheritance
AuthType Basic
AuthName "Admin Login"
AuthUserFile "C:/xampp/htdocs/HIGH-Q/admin/.htpasswd"
Require valid-user

# Allow access to assets
<FilesMatch "\.(css|js|gif|jpg|jpeg|png|ico)$">
    Satisfy any
    Allow from all
</FilesMatch>